span.border-red {
  border-style: dashed;
  border-color: red;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

span.border-green {
  border-style: dashed;
  border-color: green;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

button.pad-keys {
  margin: 5px;
}
