body {
  padding: 1%;
  font-family: Garamond, serif;
}

header {
  text-align: center;
  font-family: 'Times New Roman', serif;
}

p, li {
  font-size: 17px;    
}

span.border-red {
  background-color: rgb(255,0,0,0.8);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
}

span.border-green {
  background-color: rgb(0,128,0,0.8);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
}

button.pad-keys {
  margin: 5px;
  font-size:17px;
}
