header {
  text-align: center;
}

p {
  font-size: 17px;    
}

span.border-red {
  background-color: red;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
}

span.border-green {
  background-color: green;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
}

button.pad-keys {
  margin: 5px;
  font-size:17px;
}
